@model IList<GetTestimonialVM>

@{
    ViewBag.Title = "Index";
    Layout = "AdminLayout/_AdminLayout";
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Testimonial Name</th>
        <th>Testimonial Title</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialId</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a asp-controller="Testimonial" asp-action="DeleteTestimonial" asp-route-id="@item.TestimonialId" class="btn btn-danger">Delete</a></td>
            <td><a asp-controller="Testimonial" asp-action="UpdateTestimonial" asp-route-id="@item.TestimonialId" class="btn btn-warning" style="color: white">Update</a></td> 
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Testimonial" asp-action="AddTestimonial" class="btn btn-info">New Testimonial</a>