@model List<GetStaffVM>

@{
    ViewBag.Title = "Index";
    Layout = "AdminLayout/_AdminLayout";
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Staff Name</th>
        <th>Staff Title</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StaffId</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a asp-controller="Staff" asp-action="DeleteStaff" asp-route-id="@item.StaffId" class="btn btn-danger">Delete</a></td>
            <td><a asp-controller="Staff" asp-action="UpdateStaff" asp-route-id="@item.StaffId" class="btn btn-warning" style="color: white">Update</a></td> 
            <td><a href="#" class="btn btn-primary">Details</a></td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Staff" asp-action="AddStaff" class="btn btn-info">New Staff</a>